{% extends 'layout.html' %}
{% load accounts_extra %}
{% block content %}
<div class="circle--actions--bar">
    <nav class="bounds">
      <ul class="circle--pill--list">
        <li><a href="{% url 'project:applications' %}">Applications</a></li>
        <li><a class="selected" href="{% url 'accounts:profile_home' %}">Profile</a></li>
      </ul>
    </nav>
  </div>
  <div class="bounds circle--page">      
<form action="" method="POST" id='myform' enctype="multipart/form-data">
    <div class="circle--page--header circle--fluid">
        <div class="circle--fluid--cell circle--fluid--primary">
            <h2>Profile</h2>
        </div>
        <div class="circle--fluid--cell circle--fluid--secondary">
            <input type="submit" class="button button-primary" value="Save Changes">
        </div>
    </div>
    <div class="grid-70">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name == 'image' %}
            {% else %}
                {{ field }}
                {{ field.errors }}
            {% endif %}
        {% endfor %}
    <h2>Past Projects</h2>
      <table class="u-full-width circle--table">
        <thead>
          <tr>
            <th>Project Title</th>
            <th class="circle--cell--right">Project Needs</th>
          </tr>
        </thead>
        {% for position in positions %}
        <tbody>
          <tr class="clickable-row" data-href="{{ position.project.get_absolute_url }}">
            <td>
              <h3>{{ position.project.name|unslug_capitalize  }}</h3>
            </td>
            <td class="circle--cell--right">
              <span class="secondary-label">{{ position.name }}</span>
            </td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
    <div class="grid-25 grid-push-5">
            <div class="circle--secondary--module"> 
                {% if user.image %}
                    <img id="blah" src="{{ user.image.url }}" class='circle--primary--avatar' />
                {% else %}
                    <img id="blah" src="#" style="display:none" class='circle--primary--avatar' />
                {% endif %}               
                <a class="button">
                    Upload Photo
                    <input type="file" name="image" accept="image/*" id="id_image">                                  
                </a>
                <a class="button" href="{% url 'image_editor:edit' %}">
                    Photo Editor                                  
                </a>
                {% if user.image %}
                    <div>
                    <label for="image-clear_id">Delete Photo</label>
                    <input type="checkbox" name="image-clear" id="image-clear_id">
                </div> 
                {% endif %}
            </div>
        <div class="circle--secondary--module">
    <h3>My skills</h3>
    <ul class="circle--clone--list" id='circle--clone--list_skill'>
    {{ skills.management_form }}
    {% for skill_form in skills %}
        <li>
        {{ skill_form.errors }}
        {{ skill_form }}
        </li>
    {% endfor %}
    </ul>
    <li id="empty_form_skill" style="display:none">
        {{ skills.empty_form }}
    </li>
    <a class="circle--clone--add"  id="add_more_skill">Add Skill</a>
    </div>
    <div class="circle--secondary--module">
    <h3>My Projects</h3>
    <ul class="circle--clone--list" id='circle--clone--list_project'>
    {{ my_projects.management_form }}
    {% for project_form in my_projects %}
        <li>
        {{ project_form.errors }}
        {{ project_form }}    
        </li>  
    {% endfor %}
    <li id="empty_form_project" style="display:none">
            {{ my_projects.empty_form }}
        </li>
    </ul>
    <a class="circle--clone--add"  id="add_more_project">Add Project</a>
</div>
</form>
</div>
</div>
{% endblock %}